{% extends 'index.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <h2>Register</h2>
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <label for="address">Address:</label><br>
        <textarea id="address" name="address"></textarea><br><br>
        <input type="submit" value="Register">
    </form>
{% endblock %}
